<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

<style>

 
      nav {
      background: transparent;
      box-shadow: none !important;
    }



     .logomenu{
    margin-left: 40px;
    margin-top: 5px;
   }




.footer{
  background: #4E4D4C;
  height: 40px;
 padding-right: 30px;
 padding-bottom:  65px;
}

   nav li:hover, nav li.active {
     border-left: 0px solid #70b7f4;
     background: transparent; }

  .oclass{
    color: #ddd;
    text-transform: capitalize;
   }

     .allmenu{
    margin-top: 15px;
  margin-right: 40px;
}

   .navhov:hover{
 border-bottom: 5px solid #ddd;
 color: #42ade7; 
 background: white;
    -webkit-transition: border-bottom 0.3s; /* Safari */
    transition: border-bottom 0.3s;
}

.navhovactive{
  border-bottom: 5px solid #4da2d9;
  color: black;
 background: white;
}

nav {
  text-transform: uppercase;
}

nav ul a {
  transition: background-color .3s;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
}

.itstyle{
   font-family: 'Courgette';
}

.wstyle{
   font-family: 'Courgette';
  color: #000;
}

.bossyfont{
  font-size: 25px;
}

.porttalk{
  margin-left: 90px;
  max-width: 900px;
}

.navactive{
 border-bottom: 5px solid white;
}
.imgwork{
  height: 500px;
  width: 550px;
  background-color: black;

}

.aboutmee{
  font-size: 25px;
  text-align: justify;
   text-justify: inter-word;
   font-weight: 300;
}


.row .folnav {
     padding-right: 0px;
     padding-left: 0px; 
     margin-right: auto;
     margin-left: auto;
}

.fashola{
  background-color: white;

}

.sidestufff{
   height: 100%;
   width: 350px;
   background-color: #4da2d9;
   position: fixed;
   margin-top: -63px;
   -webkit-box-shadow: 4px 0px 2px 1px rgba(0,0,0,0.27);
-moz-box-shadow: 4px 0px 2px 1px rgba(0,0,0,0.27);
box-shadow: 4px 0px 2px 1px rgba(0,0,0,0.27);
}

.sidestufffmobile{
   height: auto;
   width: 100%;
   padding-bottom: 30px;
   padding-top: 23px;
   background-color: #4da2d9;
   position: relative;
   margin-top: -63px;
}

.gbeduside{
  margin-left: 350px;
  position: relative;
  top: 0px;
}

.folimage{
  width: 100%;
}

.foldername{
  float: left;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
  font-family: 'Roboto';
}

.noofnotes{
  float: right;
  padding-right: 10px;
}


.numsize{
    font-size: 25px;
    font-weight: 200;
    color: white;
}

.filedim{
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.cb{
  color: white;
  font-size: 13px;
  font-weight: 300;
  padding-left: 10px;
}

.acownere{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  position: relative; 
  top: 0px;
}

.nameacownere{
 color: white;
 font-size: 18px;
 font-weight: 400;
 position: relative;
top: -17px;
}

.favebtn{
  margin-top: 15px;
  color: #000;
  background-color: #ffffff;
}

.favebtn:hover{
  color: #000;
  background-color: #ffffff;
}

.pinpart{
  background-color: #c7dcef;
  width: 100%;
}

.pinname{
  color: #fff;
  font-size: 13px;
  font-weight: bold;
    position: relative;
    top: 6px;
}



.pinnameca{
  background-color: #0d84c8;
  position: relative;
  top: -79px;
}


.mecon img {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.mecon img:hover {
  -webkit-filter: blur(5px);
}

.meblur{
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.ca{
  font-size: 10px;
  font-weight: 300;
  color: white;
  position: relative;
  top: -5px;
}

.footer{
  background: #747372;
  height: 40px;
  padding-top: 10px;
 padding-right: 30px;
 padding-left: 30px;
 padding-bottom:  65px;
}

#dload{
  position: relative;
  top: 150px;
}


.savebtn{
  background-color: #7cc623;
  border-radius: 10%;
}

.savebtn:hover{
  background-color: #7cc623;

}

.pinpack{
  margin-bottom: -120px;
}

.folnav{
  background-color: #fff;
}

@media only screen and (max-width : 992px) {

.sidestufff{
   visibility: hidden;
}

.gbeduside{
  margin-left: 0px;
}

}



</style>


<body class="fashola">
  <!-- Dropdown Structure -->

   <nav>
    <div class="nav-wrapper navtrans">
     
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
 <ul class="right hide-on-med-and-down allmenu">
        <li><a class="navhov oclass" href="/">Home</a></li>
        <li><a class="navhov oclass" href="/mywork">My Work</a></li>
        <li><a class="navhov oclass" href="/whatido">What I do</a></li>
        <li><a class="navhov oclass navhovactive" href="/aboutme">What i want for you</a></li>
        <li><a class="navhov oclass" href="/contactme">Contact me</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/mywork">My work</a></li>
        <li><a href="/whatido">What I do</a></li>
        <li><a href="/aboutme">About me</a></li>
        <li><a href="/contactme">Contact me</a></li>
      </ul>
    </div>
  </nav>
        
<div class="row">
  <div class="col l3 m12 s12 folnav">
    <div class="sidestufff hide-on-med-and-down ">
      <br>
      <br>
      <p class="center-align"><a href="/" class="brand-logo"><img src="logo11.png"></a></p>
      
      <div clas="folderimage">
        <img src="smilefime.jpg" class="responsive-img folimage">
      </div>
      <br>
      <div class="nameandfnum">
      </div>
    
      <p class="cb"><span style="font-weight: 600;">Name:</span> Bernard Nii Adjei-Aku Lomo</p>
       <p class="cb"><span style="font-weight: 600;">Attended:</span> University of Ghana</p>
      <p class="cb"><span style="font-weight: 600;">Competencies:</span> Web Technologies ( Html, CSS, Javascript, Coffeescript ), 
        Android development (Java, Eclipse, Android), Git, Internet Marketing, Business development, Statistics Major Graduate.
      </p>
    </div>
  </div>
  <div class="col l3 m12 s12 folnav">
    <div class="sidestufffmobile hide-on-large-only">
      <br>
      <br>
      
      <div clas="folderimage">
        <img src="smilefime.jpg" class="responsive-img folimage circle">
      </div>
      <br>
     
      <br>
      <br>
      
    </div>
  </div>
  <div class="col l9 m12 s12">
    <div class="row gbeduside">
      <div style="padding: 25px">
     <h3 class="itstyle"> Beauty is a neccecity ~ Blaise Pascal</h3>
     <P style="text-align: justify; font-size: 20px;" class="aboutmee">
This is my opportunity to help you understand and relate to the man behind the brand. I’m the technical founder of www.nikasemo.com , a student of the School of hard knocks, and an ardent reader. I am fortunate to be in this position and I promise I won’t let you down.<br>
I am Bernard Lomo. I am young but not so young. I graduated from University of Ghana this year with a major in statistics, a mission to make the world a better place and a great perspective about life and impacting it positively. I have previously attended St. Peters Senior High School and Light of the World School.<br><br>
<img src="childgeek2.jpg" class="responsive-img"><br>
From Age 12 I’ve known the internet was the thing. My Dad, a technical engineer was part of the first people to introduce the internet to my country (Ghana). Fortunately for me, I was introduced to the internet at a very early age (grade 6). But I have been using a computer since I was ten. Even though it doesn’t look like a big deal now, back in the days, it was. The internet opened my eyes to a lot of things. As a child, I spent hours behind the internet trying to figure out what it was all about. I FIGURED IT OUT. I found MINICLIP….HEHE. miniclip.com was the children’s hub of the internet (I know some can relate).
<br> 
In my first year in university of Ghana, I built a website called sellafricagh.com which had one main objective; to make souvenirs like wristbands, mugs, books, and other customized products for individuals and organizations. We spent all our time and money building our website with a mind that if we build it, the people will come to it.<br>
Sadly for us it wasn’t so. Our website over the course of the year I believe had less than 100 visits. We didn’t even track it for data. That was the ruling mentality out there (build and they will come) which was totally wrong. I see many website owners fall in the same trap.<br><br>
<img src="growth1.jpg" class="responsive-img"><br>
Fast forward to my 3rd year, we launched Nikasemo.com. Our main objective was to help students get access to lecture materials and have meaningful discussions with their colleagues about subjects of interests. From obscurity, we managed to get over 3000 signups, 60% monthly active users and over 500,000 site visits in the past two years. We won a lot of admiration from Doctors, Professors, Teaching assistants and students in general. We won SIX awards;<br>
Lead Right Student Entrepreneur of the year 2014/2015
University of Ghana Student’s excellence award (Student Entrepreneur of the year)
University of Ghana Economics  Student Society (Student Entrepreneur of the year)
University of Ghana Legon Hall (Student Entrepreneur of the year)
University of Ghana Legon Hall (Honorary JCR member award)
University of Ghana Statistics Department (Student Entrepreneur of the year)</br>
You can’t just have a website that is just beautiful. The purpose for which you build the website has to be realized. The only people that validate and give value to your website are the people who visit it. Facebook is nothing without Users (visitors), so is Instagram, Google, Tonaton and EBay.<br><br>
<img src="bigbrands1.jpg" class="responsive-img"><br>
Strategically users (visitors) should be moved through a funnel to do what you want them to do; whether it is buying your product, subscribing to your service, applying to your school, booking your hotel or any other predefine objective for your website. START WITH THE END GAME IN MIND.<br>
<strong>Most web developers focus on the first part, leaving you to fumble with the hard part. After fumbling for a long time 95% of people give up, 4% keep the answers to themselves and Bernard Lomo will come back with the good news.
I won’t just develop a website for you; I will guide you with proven steps on fulfilling your website’s purpose. That is the hard thing. And that is the most important key.</strong><br>
</P>
</div>
    </div>
  </div>
  <div class="col l2 m12 s12">

  </div>
</div>


<br><br>


<section class="footer">
  <br>
  <span style="color:white; position: relative; float: left; font-size: 12px; font-weight: 700;"> Bernad Lomo | 0571490435 | bernardlomo2@gmail.com</span>
<span style="color:white; position: relative; float: right; top: -10px;">
<span><a href="#!"><img src="fblogo.png" class="responsive-img" height="35px" width="35px">
<span><a href="#!"><img src="tlogo.png" class="responsive-img" height="35px" width="35px">
  <span><a href="#!"><img src="ilogo.png" class="responsive-img" height="35px" width="35px">
</span>
<br>
</section>

   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="materialize.min.js"></script>
      <script type="text/javascript">
       $(".button-collapse").sideNav();
      </script>
    </body>
  </html>