<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <style type="text/css">

    nav {
      background: transparent;
      box-shadow: none !important;
      color: #fff;
    }
.oluwamatic{
  background: url(grif.jpg);
   background-repeat: no-repeat;
   height: 700px;
}

.wedo{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(33, 150, 243,.99) 20px, rgba(33, 150, 243,.99) 40px);    
  height: auto; 
}

.ctaw{
  color: #1aa8ea;
  background-color: #ffffff;
  font-weight: bolder;
}

.ctaw:hover{
  color: #1aa8ea;
  background-color: #fafafa;
  font-weight: bolder;
}

.ctaw:active{
  color: #1aa8ea;
  background-color: #ffffff;
  font-weight: bolder;
}

.testimonial{
    padding-top: 50px;
  padding-bottom: 50px;
  background: #2196f3;
    background: linear-gradient(
      rgba(33, 150, 243, 0.75), 
      rgba(33, 150, 243, 0.75)
    ),url(testimonial.jpg);
  height: auto;
  -webkit-box-shadow: 0px 1px 8px 4px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 1px 8px 4px rgba(0,0,0,0.33);
box-shadow: 0px 1px 8px 4px rgba(0,0,0,0.33);
}

.awchievements{
  padding-top: 50px;
  padding-bottom: 50px;
  background: white;
  height: auto; 
}

.knowthis{
      background: linear-gradient(
      rgba(255, 255, 255, 0.85), 
      rgba(255, 255, 255, 0.95)
    ),url(lasgidi1.jpg);
   background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto; 
}

.calltoact{
      background: linear-gradient(
      rgba(33, 150, 243, 0.75), 
      rgba(33, 150, 243, 0.75)
    ),url(ctact.jpg);
  width: 100%;
  background-repeat: no-repeat;
   padding-top: 80px;
  padding-bottom: 80px;
  height: auto;
}

.footer{
  background: #747372;
  height: 40px;
  padding-top: 10px;
 padding-right: 30px;
 padding-left: 30px;
 padding-bottom:  65px;
}

.navtrans{
  box-shadow: none !important;
}

 .logomenu{
    height: 100%;
    margin-left: 40px;
    margin-top: 9.5px;
   }

   .allmenu{
    margin-top: 15px;
  margin-right: 40px;
}

.navhov:hover{
  background: none !important;
 border-bottom: 5px solid white;
    -webkit-transition: border-bottom 0.3s; /* Safari */
    transition: border-bottom 0.3s;
}

.active-nav{
   border-bottom: 5px solid white;
}

.fstyle{
  font-family: 'Courgette';
  color: #fff;
}

.fstylee{
  font-family:;
  color: #fff;
  font-weight: 200;
}

.fstyler{
  color: #fff;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.14);
   font-family: 'Courgette';
}

.hometext{
  color: #000;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.14);
  
}

.fstyleo{
  color: #000;
  font-size: 20px;
font-weight: bolder;
text-transform: uppercase;
}

.textin{
  text-align: justify;
  font-size: 20px;
  font-weight: 300;
}

blockquote {
    font-size:16px; 
    padding:18px 20px 1px 20px;
    margin-left:3px; 
    margin-bottom:40px;
    background:#f2f1f6;
    text-align: justify;
    border-left: 5px solid #ffffff;
    -webkit-box-shadow: -3px 3px 8px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: -3px 3px 8px -1px rgba(0,0,0,0.25);
    box-shadow: -3px 3px 8px -1px rgba(0,0,0,0.25);
} 

blockquote:before {
    color: #c73401;
    font-size: 30px;
    line-height: 0.5em;
    margin-right: 0.27em;
    float:left;
}

.blog-img{
    -webkit-box-shadow: -3px 3px 8px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: -3px 3px 8px -1px rgba(0,0,0,0.25);
    box-shadow: -3px 3px 8px -1px rgba(0,0,0,0.25);
}


.dweezy{
  position: relative;
  top: -25px;
  margin-left: 10px;
}

.listbajon{
  list-style: decimal-leading-zero;
}

.ktweight{
  font-weight: 500;
}

.fontg{
   font-family: 'Courgette';
}

.fontger{
   font-family: 'Courgette';
   color: white;
}

.navactive{
 border-bottom: 5px solid white;
}

nav {
  text-transform: uppercase;
}

nav ul a {
  transition: background-color .3s;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
}

.ctactme{
  background-color: white;
  color: #42ade7;
  font-weight: 900;
}

.ctactme:hover{
  background-color: white;
  color: #42ade7;
  font-weight: 900;
}

.ctactme:active{
  background-color: white;
  color: #42ade7;
  font-weight: 900;
}

.adukudus{
  position: relative;
  top: 195px;
}

.lmhold{
  position:relative; 
  top: 135px; 
  color: white;
}

 @media only screen and (min-width : 993px) and (max-width : 1224px) {



}

@media only screen and (min-width : 100px) and (max-width : 600px) {

 .logomenu{
    height: 100%;
    margin-left: 0px;
    margin-top: 3.5px;
   }

  .adukudus{
  position: relative;
  top: 90px;
}

.fstylee{
  font-family:;
  color: #fff;
  font-weight: 200;
  font-size: 18px;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.14);
}

.fstyler{
  color: #fff;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.14);
   font-family: 'Courgette';
   font-size: 40px;
}

.oluwamatic{
  background: url(grif.jpg);
   background-repeat: no-repeat;
   height: 550px;
}

.lmhold{
  position:relative; 
  top: 60px; 
  color: white;
}

.fstyleo{
  color: #000;
  font-size: 17px;
font-weight: bolder;
text-transform: uppercase;
}

.textin{
  text-align: justify;
  font-size: 17px;
  font-weight: 300;
}

}

@media only screen and (min-width : 601px) and (max-width : 992px) {

 .logomenu{
    height: 100%;
    margin-left: 0px;
    margin-top: 3.5px;
   }

  .adukudus{
  position: relative;
  top: 90px;
}

.fstylee{
  font-family:;
  color: #fff;
  font-weight: 200;
  font-size: 29px;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.14);
}

.fstyler{
  color: #fff;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.14);
   font-family: 'Courgette';
   font-size: 50px;
}

.oluwamatic{
  background: url(grif.jpg);
   background-repeat: no-repeat;
   height: 550px;
}

.lmhold{
  position:relative; 
  top: 60px; 
  color: white;
}

.fstyleo{
  color: #000;
  font-size: 17px;
font-weight: bolder;
text-transform: uppercase;
}

.textin{
  text-align: justify;
  font-size: 17px;
  font-weight: 300;
}

}

    </style>

    <body>
   <section class="oluwamatic">
     <nav>
    <div class="nav-wrapper navtrans">
      <a href="/" class="brand-logo logomenu"><img src="logo11.png" width="200px" height="70px" class="logomenu" ></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul class="right hide-on-med-and-down allmenu">
        <li><a class="navhov oclass navactive" href="/">Home</a></li>
        <li><a class="navhov oclass" href="/whatido">What I do</a></li>
        <li><a class="navhov oclass" href="/mywork">My Work</a></li>
        <li><a class="navhov oclass" href="/aboutme">What i want for you</a></li>
        <li><a class="navhov oclass" href="/contactme">Contact me</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/whatido">What I do</a></li>
        <li><a href="/mywork">My work</a></li>
        <li><a href="/aboutme">About me</a></li>
        <li><a href="/contactme">Contact me</a></li>
      </ul>
    </div>
  </nav>
          
      <div class="row">
        <div class="container">
          <div class="col s12">
      <div class="adukudus">
       <h1 class="center-align fstyler"> Websites Need Purpose.</h1>
       <h4 class='center-align fstylee'>I actualize your website's purpose.</h4>
       <p style="" class="center-align lmhold">learn more
        <i class="material-icons" style="position:relative; top: 27px; right: 50px;">keyboard_arrow_down</i></p>
      </div>
           </div>
         </div>
       </div>
    </section>
    <section class="wedo">
     <div class="row">
      <div class="container">
        <div class="col s12 m6 l6">
         
          <p class="center-align"><img class="responsive-img" height="190px" width="190px"  src="heartline.png"></p>
          <div style="background-color: #fff; padding: 16px; box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);">
           <h5 class="center-align fstyleo">Beautiful websites are lovely.</h5> 
          <p class="center-align textin">Your website is what represents you online. There are millions of websites in the world. You need to stand out. I will build you a <strong>beautiful</strong> website that serves the purpose for which it was built. <strong>I also add some freebies!</strong></p>
        </div>
         
        </div>
        <div class="col s12 m6 l6">
    
          <p class="center-align"><img class="responsive-img" height="190px" width="190px"  src="compline2.png"></p>
          <div style="background-color: #fff; padding: 16px; box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);">
                <h5 class="center-align fstyleo">Your presence online is KEY.</h5> 
           <p class="center-align textin"><strong>Possibilities</strong> abound when you have a website. The internet comes with a leverage over your competetion. The truth is having a website alone does not give you the neccesary leverage.</p>
        </div>
        </div>

      </div>

    </div>
    <br>
     <p class="center-align"><a href="/mywork" class="btn-large waves-effect waves-light ctaw"><i style="color:black;" class="material-icons right">&#xE5C8;</i>See what i do</a></p>
    </section>   

    <section class="testimonial">
    <div class="row">
      <div class="container">
        <h3 class="center-align fstyle">Testimonials</h3>
    <div class="col s12 m6 l6">
      <blockquote>
  <p>
    Bernard Lomo is amazing. We worked on revamping my blog to another level. I wan=s very impressed with the work he did. My visitors get notified immediately through phone notifications and email when I post a blog. This has increased the number visitors on my blog. Worth every cedi I paid 
    <i style="color: red; position:relative; top: 5px;" class="material-icons">&#xE87D;</i> 
    <br>
     <p><img src="april.jpg" height="60px" width="60px" class="circle"><span class="dweezy"><strong>April<br><br> – <a style="color: black; font-weight: 700;" href="http://travelwithapril.com/">Travelwithapril.com</a></strong></span></p>
  </p>
</blockquote>
    </div>
    <div class="col s12 m6 l6">
      <blockquote>
  <p>
    The process of building Nikasemo has been one of the stories I won't forget in my life. I was inspired about how himself to code proficiently in six programming languages. Together with the team, we built a web application that has helped over 10,000 students.<br> Bravo bro. He is the best! 
    <i style="color: yellow; position:relative; top: 5px;" class="material-icons">star_rate</i>
    <br>
    <p><img src="obed.jpg" height="60px" width="60px" class="circle"><span class="dweezy"><strong>Obed<br><br> – <a style="color: black; font-weight: 700;" href="http://nikasemo.com/">Nikasemo.com</a></strong></span></p></p>
    </p>
</blockquote>
    </div>
</div>
</div>
<br>
     <p class="center-align"><a href="/mywork" class="btn-large waves-effect waves-light ctaw"><i style="color:black;" class="material-icons right">&#xE90F;</i>See my work</a></p>
    </section> 



<section class="knowthis">
  <div class="row">
    <div class="container">
      <div class ="col l5 m5 s12">
        <h3 class="center-align fontg">Are you prepared as a company?</h3> 
          <ul class="collection">
             <li class="collection-item left-align ktweight">Internet Usage is expected to quadruple in Sub-saharan Africa in the next five years.</li>
             <li class="collection-item left-align ktweight">Ghana's presence on the internet is booming. Over 6 million people use the internet everyday.</li>
             <li class="collection-item left-align ktweight">In Ghana, data usage exceeds voice usage now.</li>
             <li class="collection-item left-align ktweight">Sadly, less than 5% of local businesses are online.</li>
             <li class="collection-item left-align ktweight">The internet is transforming telecomunications in Ghana now than it ever did in her lifetime.</li>
          </ul>
      </div>
      <div class ="col l6 m6 s12">
        <div class="row" style="margin-left: 20px;">
          <div class="blogpartial" style="margin-top: 20px;">
            <div class="s4 m4 l4">
              <img src="lebrone.jpg" class="responsive-img blog-img" width="150px" height="150px">
            </div>
            <div class="s8 m8 l8">
              <h5 class="left-align" style="color: #42ade7; font-weight: bold;">How to build an online brand using Social media</h5>
              <span style="font-size: 12px;">
                <span style=" font-weight: bolder;">Posted:</span> <span style="font-weight: 300; margin-right: 7px;">12th October 2016</span> 
                 <span style=" font-weight: bolder; margin-: 7px"> Views:</span> <span style="font-weight: 300; margin-right: 7px">225</span> 
                 <span style=" font-weight: bolder;"> By:</span> <span style="font-weight: 300;">Bernard Lomo</span>
              </span>
            </div>
          </div>
           <div class="blogpartial" style="margin-top: 20px;">
            <div class="s4 m4 l4">
              <img src="lebrone.jpg" class="responsive-img blog-img" width="150px" height="150px">
            </div>
            <div class="s8 m8 l8">
              <h5 class="left-align" style="color: #42ade7; font-weight: bold;">Why having a website gives you leverage over your competetion</h5>
              <span style="font-size: 12px;">
                <span style=" font-weight: bolder;">Posted:</span> <span style="font-weight: 300; margin-right: 7px;">12th October 2016</span> 
                 <span style=" font-weight: bolder; margin-: 7px"> Views:</span> <span style="font-weight: 300; margin-right: 7px">225</span> 
                 <span style=" font-weight: bolder;"> By:</span> <span style="font-weight: 300;">Bernard Lomo</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="calltoact">

  <div class="row">
    <div class="container">
      <div class="col s12">
        <h3 class="center-align fontger"> Being online has not been this urgent </h3>
         <p class="center-align" style="color: white;"> Join the market changers today! </p>
         <p class="center-align"><a class="waves-effect waves-light btn-large ctactme">Contact Me</a></p>
      </div>
    </div>
  </div>

</section>

<section class="footer">
  <br>
  <span class="" style="color:white; position: relative; float: left; font-size: 12px; font-weight: 400;">&copy; 2016, Bernard Lomo.
 <span class="hide-on-small-only">All Rights Reserved.</span>
  </span>
<span style="color:white; position: relative; float: right; top: -10px;">
<span><a href="#!"><img src="fblogo.png" class="responsive-img" height="35px" width="35px">
<span><a href="#!"><img src="tlogo.png" class="responsive-img" height="35px" width="35px">
  <span><a href="#!"><img src="ilogo.png" class="responsive-img" height="35px" width="35px">
</span>
<br>
</section>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="materialize.min.js"></script>
      <script type="text/javascript">
       $(".button-collapse").sideNav();
      </script>
    </body>
  </html>