<style type="text/css">
.poems{
	background-color:white;
background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
background-size:50px 50px;
}
</style>

<body class="peoms">
<div class="row peoms">
	<div class="container" style="background-color: red;">
		<div class="col s12 m12 l4 offset-l4">
			<h3>Me for you.</h3>

		 Romantics. Capturing our essence. Like how romantics see dancing. It is learned, and only with consistency are the true 
		 lovers/dancers revealed. At the start, it looks wierd, seems very wierd and feels it will never get better.
		 By lovinng our wierdity , which is quite diametric of what we know. Gradually getting better through every misstep. Yeah, It has to happen. The only way real things grow and time bided.<br><br>

		 It gets to me. Anytime. Plus the stress men go through trying to find their first and true steps. I have come 
		 to learn that it is wierd. Transitions are always hard things but meant to refine us to our true selves. By not refraining. The job is done. The joy we seek lives forever.<br><br>

		I wrote this for my love. I want her to know that as time dilates, and as we turn to what is real, we will continue to appreciate each other and live out the trues these lovely feelings bring. Till we get to get each other, know this; 
		I love you. Very Much! <br><br>Matic-Ann <span style="color:red;">&#10084; &#10084;</span>
		</div>
	</div>
</div>
</body>