  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <style type="text/css">
    
      nav {
      background: transparent;
      box-shadow: none !important;
    }

     nav ul li:hover, nav ul li.active {
        background-color: transparent !important;
         }

    .allmenu li:hover, .allmenu li.active {
     background-color: transparent; 
   }

nav {
  text-transform: uppercase;
}

nav ul a {
  transition: background-color .3s;
  font-size: 14px;
}

 .oclass{
    color: #ddd;
    text-transform: capitalize;
   }

     .allmenu{
    margin-top: 15px;
  margin-right: 40px;
}

   .navhov:hover{
 border-bottom: 5px solid #ddd;
 color: #42ade7; 
 background: white;
  -webkit-transition: border-bottom 0.3s; /* Safari */
  transition: border-bottom 0.3s;
}




.navhovactive{
  border-bottom: 5px solid #4da2d9;
  color: black;
 background: white;
}

     .logomenu{
    height: 100%;
    margin-left: 40px;
    margin-top: 13px;
   }


.footer{
  background: #78c4ed;
  height: 40px;
 padding-right: 30px;
 padding-bottom:  65px;
}

.wstyle{
   font-family: 'Courgette';
  color: #42ade7;
  margin-left: 15px;
}

.bossyfont{
  font-size: 25px;
  text-align: justify;
   text-justify: inter-word;
   font-weight: 300;
}

.porttalk{
  margin-left: 90px;
  width: 100%;
  position: relative;
  top: 20px;
}

.navactive{
 border-bottom: 5px solid white;
}
.imgwork{
  height: 500px;
  width: 550px;
  background-color: black;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.workhead{
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  color: white;
  margin-bottom: 40px;
  font-family: 'Courgette';
}

.about{
  width: 200px;
}
.aboutli{
  width: 200px;
  left: 200px;
  position: relative;
  top: -265px;
}
.aboutla{
  width: 200px;
  left: 400px;
  position: relative;
  top: -440px;
}

.visitsite{
  width: 100%;
  background-color: #1aa8ea;
  padding: 10px;
  color: white;
  font-weight: bolder;
}

.footer{
  background: #747372;
  height: 40px;
  padding-top: 10px;
 padding-right: 30px;
 padding-left: 30px;
 padding-bottom:  65px;
}

.thoughts{
  font-weight: 300;
  font-size: 18px;
  text-align: justify;
}

 @media only screen and (min-width : 993px) and (max-width : 1224px) {



}

@media only screen and (min-width : 100px) and (max-width : 600px) {

 .logomenu{
    height: 100%;
    margin-left: 0px;
    margin-top: 3.5px;
   }

   .wstyle{
  font-family: 'Courgette';
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.14);
  color: #42ade7;
  margin-left: 0px;
}

.porttalk{
  margin-left: 0px;
  padding: 15px;
   position: relative;
  top: 12px;
}

.bossyfont{
  font-size: 20px;
  text-align: justify;
   text-justify: inter-word;
   font-weight: 300;
}

.workhead{
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  color: white;
  margin-bottom: 40px;
  font-family: 'Courgette';
  font-size: 18px;
}

}

@media only screen and (min-width : 601px) and (max-width : 992px) {

 .logomenu{
    height: 100%;
    margin-left: 0px;
    margin-top: 3.5px;
   }

   .wstyle{
  font-family: 'Courgette';
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.14);
  color: #42ade7;
  margin-left: 0px;
}

.porttalk{
  margin-left: 0px;
  padding: 15px;
   position: relative;
  top: 12px;
}

.bossyfont{
  font-size: 20px;
  text-align: justify;
   text-justify: inter-word;
   font-weight: 300;
}

.workhead{
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  color: white;
  margin-bottom: 40px;
  font-family: 'Courgette';
  font-size: 18px;
}

}

</style>


<body>
  <nav>
    <div class="nav-wrapper navtrans">
      <a href="/" class="brand-logo logomenu"><img src="logo111.png" class="logomenu" ></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons blue">menu</i></a>
   <ul class="right hide-on-med-and-down allmenu">
        <li><a class="navhov oclass" href="/">Home</a></li>
        <li><a class="navhov oclass" href="/whatido">What I do</a></li>
        <li><a class="navhov oclass" href="/mywork">My Work</a></li>
        <li><a class="navhov oclass" href="/aboutme">What i want for you</a></li>
        <li><a class="navhov oclass" href="/contactme">Contact me</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/whatido">What I do</a></li>
        <li><a href="/mywork">My work</a></li>
        <li><a href="/aboutme">About me</a></li>
        <li><a href="/contactme">Contact me</a></li>
      </ul>
    </div>
  </nav>

  <div class="col s12 porttalk">
    <h1 class="left-align wstyle">Thoughts of a Young Billionaire.</h1>
    <p class="left-align bossyfont">Documenting my thoughts...</p>
  </div>
  <br>
<div class="workhead">
<h4 class="center-align"> Foreign keys. </h4>
</div>
<div class="row">
<div class="col s12 m12 l8 offset-l2 thoughts">
<h4 style="font-weight: 700;">Foreign keys and why we need each other</h4>
<img src="iloveu.jpg" class="responsive-img"><br><br>

In relational database, a foreign key is a field in one table that uniquely identifies a row of another table. Simply put a foreign key creates a relationship between rows of data.
<br><br> 
I find it fascinating how these concepts of basic programming apply in every aspect of our wonderful lives. The Legendary English philosopher in his famous book “Concerning human understanding” said that all things (words) are created from sensible ideas, where sensible ideas means things relating to our 5 senses.<br><br>
Adam was able to name all the creatures according to the name God had in mind exactly. Adam had the mind of God. How did he do that? You see, before words came to existence, men had their own means of communication. Mans best bet was to identify things by the way the things perceives to be. The most basic sense of perception is through the five senses. From them emanate all the words we know now.<br><br>
Back to foreign keys, everything in education that has been conceptualized is based on ideas that relate to real world experiences. The objective of teaching is understanding and the best way to get you to understand is by using things that you relate to.  Foreign keys are no exception. This is what I have learnt from foreign keys.
<br><br>
<strong>In life we can’t live without each other</strong><br><br>
Foreign keys are created through creating relationships between tables of data. Databases that have tables that are not connected do not amount to much. They can only do one thing; store data.<br><br> 
You see, the reason why Facebook is worth over 300 billion dollars and is the third most valuable company in the world is because they know how to (with statistical models using edgerank) create proper relationships between their users. (Everyone has a table at Facebook :p ). By that Facebook gets you what you will want to see and keeps you on their platform every day.<br><br>
It is the same with life. We all can’t live in isolation. Let’s not be hubris. We need each other to bring relevance and meaning to one another. The only way we can see progress in our lives and the lives of everyone is by making meaningful connections<br><br>
<strong>You are connected to me. You are important to me. I love you. Now let’s grow together!</strong>


<br><br><br>
<strong>With Love,<br>
Matic.</strong>
</div>
  </div>

 
<br><br>

<section class="footer">
  <br>
  <span style="color:white; position: relative; float: left; font-size: 12px; font-weight: 400;">&copy; 2016, Bernard Lomo.
 <span class="hide-on-small-only">All Rights Reserved.</span></span>
<span style="color:white; position: relative; float: right; top: -10px;">
<span><a href="#!"><img src="fblogo.png" class="responsive-img" height="35px" width="35px">
<span><a href="#!"><img src="tlogo.png" class="responsive-img" height="35px" width="35px">
  <span><a href="#!"><img src="ilogo.png" class="responsive-img" height="35px" width="35px">
</span>
<br>
</section>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="materialize.min.js"></script>
      <script type="text/javascript">
       $(".button-collapse").sideNav();
         $('.materialboxed').materialbox();
      </script>
   
</body>
</html>
