  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <style type="text/css">
    
      nav {
      background: transparent;
      box-shadow: none !important;
    }

     nav ul li:hover, nav ul li.active {
        background-color: transparent !important;
         }

    .allmenu li:hover, .allmenu li.active {
     background-color: transparent; 
   }

nav {
  text-transform: uppercase;
}

nav ul a {
  transition: background-color .3s;
  font-size: 14px;
}

 .oclass{
    color: #ddd;
    text-transform: capitalize;
   }

     .allmenu{
    margin-top: 15px;
  margin-right: 40px;
}

   .navhov:hover{
 border-bottom: 5px solid #ddd;
 color: #42ade7; 
 background: white;
  -webkit-transition: border-bottom 0.3s; /* Safari */
  transition: border-bottom 0.3s;
}




.navhovactive{
  border-bottom: 5px solid #4da2d9;
  color: black;
 background: white;
}

     .logomenu{
    height: 100%;
    margin-left: 40px;
    margin-top: 13px;
   }


.footer{
  background: #78c4ed;
  height: 40px;
 padding-right: 30px;
 padding-bottom:  65px;
}

.wstyle{
   font-family: 'Courgette';
  color: #42ade7;
  margin-left: 15px;
}

.bossyfont{
  font-size: 25px;
  text-align: justify;
   text-justify: inter-word;
   font-weight: 300;
}

.porttalk{
  margin-left: 90px;
  max-width: 900px;
  position: relative;
  top: 20px;
}

.navactive{
 border-bottom: 5px solid white;
}
.imgwork{
  height: 500px;
  width: 550px;
  background-color: black;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.workhead{
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  color: white;
  margin-bottom: 40px;
  font-family: 'Courgette';
}

.about{
  width: 200px;
}
.aboutli{
  width: 200px;
  left: 200px;
  position: relative;
  top: -265px;
}
.aboutla{
  width: 200px;
  left: 400px;
  position: relative;
  top: -440px;
}

.visitsite{
  width: 100%;
  background-color: #1aa8ea;
  padding: 10px;
  color: white;
  font-weight: bolder;
}

.footer{
  background: #747372;
  height: 40px;
  padding-top: 10px;
 padding-right: 30px;
 padding-left: 30px;
 padding-bottom:  65px;
}

.thoughts{
  font-weight: 300;
  font-size: 18px;
  text-align: justify;
}

 @media only screen and (min-width : 993px) and (max-width : 1224px) {



}

@media only screen and (min-width : 100px) and (max-width : 600px) {

 .logomenu{
    height: 100%;
    margin-left: 0px;
    margin-top: 3.5px;
   }

   .wstyle{
  font-family: 'Courgette';
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.14);
  color: #42ade7;
  margin-left: 0px;
}

.porttalk{
  margin-left: 0px;
  max-width: 900px;
  padding: 15px;
   position: relative;
  top: 12px;
}

.bossyfont{
  font-size: 20px;
  text-align: justify;
   text-justify: inter-word;
   font-weight: 300;
}

.workhead{
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  color: white;
  margin-bottom: 40px;
  font-family: 'Courgette';
  font-size: 18px;
}

}

@media only screen and (min-width : 601px) and (max-width : 992px) {

 .logomenu{
    height: 100%;
    margin-left: 0px;
    margin-top: 3.5px;
   }

   .wstyle{
  font-family: 'Courgette';
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.14);
  color: #42ade7;
  margin-left: 0px;
}

.porttalk{
  margin-left: 0px;
  max-width: 900px;
  padding: 15px;
   position: relative;
  top: 12px;
}

.bossyfont{
  font-size: 20px;
  text-align: justify;
   text-justify: inter-word;
   font-weight: 300;
}

.workhead{
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  color: white;
  margin-bottom: 40px;
  font-family: 'Courgette';
  font-size: 18px;
}

}

</style>


<body>
  <nav>
    <div class="nav-wrapper navtrans">
      <a href="/" class="brand-logo logomenu"><img src="logo111.png" class="logomenu" ></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons blue">menu</i></a>
   <ul class="right hide-on-med-and-down allmenu">
        <li><a class="navhov oclass" href="/">Home</a></li>
        <li><a class="navhov oclass" href="/whatido">What I do</a></li>
        <li><a class="navhov oclass" href="/mywork">My Work</a></li>
        <li><a class="navhov oclass" href="/aboutme">What i want for you</a></li>
        <li><a class="navhov oclass" href="/contactme">Contact me</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/whatido">What I do</a></li>
        <li><a href="/mywork">My work</a></li>
        <li><a href="/aboutme">About me</a></li>
        <li><a href="/contactme">Contact me</a></li>
      </ul>
    </div>
  </nav>

  <div class="col s12 porttalk">
    <h1 class="left-align wstyle">Thoughts of a Young Billionaire.</h1>
    <p class="left-align bossyfont">Documenting my thoughts...</p>
  </div>
  <br>
<div class="workhead">
<h4 class="center-align"> Faith hope and Love (II) </h4>
</div>
<div class="row">
<div class="col s12 m12 l8 offset-l2 thoughts">
<h4 style="font-weight: 700;">With LOVE all things are POSSIBLE. <span style="color:red;">&#10084; &#10084;</span></h4>
<img src="iloveu.jpg" class="responsive-img"><br><br>
And now <strong>LOVE….</strong> What role does it play and how do we harness its energy to become a better and greater people.<br><br><span style="font-style:italic;">
“Three things will last forever; Faith, Hope, and Love, and the greatest of this is love.”<br> 1 Corinthians 13:13<br><br></span>
The number ‘13’; in the bible, throughout history, and other divinely inspired and legendary scriptures have represented destruction, rebellion, death and all evil you can think of.<br><br>
 Nimrod, the mighty hunter who was 'before the Lord' (meaning he tried to take the place of God - Genesis 10:9), was the 13th in Ham's line (Ham was one of Noah's three sons who survived the flood). Thirteen represents all the governments created by men, and inspired by Satan, in outright rebellion against the Eternal.<br><br>
 It is considered to be bad luck by many in the Western culture to dine with 13 people at the table. This may be because of the Last Supper – Judas Iscariot, one of the twelve disciples betrayed Jesus. 
Friday the 13th, The aztek goddess of sin and patroness of adultery, Tlazolteola, who ruled their 13th month, among many other examples.<br><br>
Faith and hope to conquer the world are the primary reason for all these things. You see, these are the primary tools or better still the currency by which anything, whether good or bad is created. Out of nothingness. But then, it is good to know that the two, (Faith and Hope) , are of no importance if it not backed by love.<br><br>
<span style="font-style:italic;">“Probably the Ghost of Mandela will lead us to true love”<br><br></span>
<h5>Love the multiplier.</h5><br>
Economies are made better when individuals increase in faith and hope. By that currency they can create things that will help them flourish. Above all, the factor that causes a man to increase in faith and love is the love he has for those around him. Ever seen a guy or girl crazily in love?? They will commit themselves to do anything!<br><br>
What if you loved your girl an inch more? What if you loved your family an inch more? What if you loved those unloving friends an inch more? Love that is null of selfishness and greed!  You would work hard to buy your daughter that bag you promised her on her birthday. You will work harder to give her the life you promised her before she said yes. Trade off everything, Yeah everything, devoid of yourself, just to make them happy. The simple things seem hard to do righ??<br><br>
Sometimes you give your all just to realize they don’t even care. Don’t worry. Keep on doing! Continue to increase in inches, meters and miles every time.<br><br>
Our success in this life is determined by the way and manner in which we love each other. It is the indelible marking on an indebted soul. That is real. That is true. That is vulnerable.<br><br><br>
<strong>With Love,
Matic.</strong>
</div>
  </div>

 
<br><br>

<section class="footer">
  <br>
  <span style="color:white; position: relative; float: left; font-size: 12px; font-weight: 400;">&copy; 2016, Bernard Lomo.
 <span class="hide-on-small-only">All Rights Reserved.</span></span>
<span style="color:white; position: relative; float: right; top: -10px;">
<span><a href="#!"><img src="fblogo.png" class="responsive-img" height="35px" width="35px">
<span><a href="#!"><img src="tlogo.png" class="responsive-img" height="35px" width="35px">
  <span><a href="#!"><img src="ilogo.png" class="responsive-img" height="35px" width="35px">
</span>
<br>
</section>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="materialize.min.js"></script>
      <script type="text/javascript">
       $(".button-collapse").sideNav();
         $('.materialboxed').materialbox();
      </script>
   
</body>
</html>
