  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <style type="text/css">
    
      nav {
      background: transparent;
      box-shadow: none !important;
    }

     nav ul li:hover, nav ul li.active {
        background-color: transparent !important;
         }

    .allmenu li:hover, .allmenu li.active {
     background-color: transparent; 
   }

     .logomenu{
    height: 100%;
    margin-left: 40px;
    margin-top: 13px;
   }

 .oclass{
    color: #ddd;
    text-transform: capitalize;
   }

     .allmenu{
    margin-top: 15px;
  margin-right: 40px;
}

   .navhov:hover{
 border-bottom: 5px solid #ddd;
 color: #42ade7; 
 background: white;
    -webkit-transition: border-bottom 0.3s; /* Safari */
    transition: border-bottom 0.3s;
}

.navhovactive{
  border-bottom: 5px solid #4da2d9;
  color: black;
 background: white;
}

nav {
  text-transform: uppercase;
}

nav ul a {
  transition: background-color .3s;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
}

.wstyle{
  font-family: 'Courgette';
  color: #42ade7;
  margin-left: 15px;
}

.footer{
  background: #4E4D4C;
  height: 40px;
 padding-right: 30px;
 padding-bottom:  65px;
}

.bossyfont{
  font-size: 25px;
  text-align: justify;
   text-justify: inter-word;
   font-weight: 300;
}

.porttalk{
  margin-left: 90px;
  max-width: 900px;
}

.widinf{
  font-weight: 300; 
  font-size: 20px;
  text-align: justify;
}

.navactive{
 border-bottom: 5px solid white;
}
.imgwork{
  height: 500px;
  width: 400px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.workhead{
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  color: white;
  margin-bottom: 40px;
  font-family: 'Courgette';
}

.visitsite{
  width: 100%;
  background-color: #1aa8ea;
  padding: 10px;
  color: white;
  font-weight: bolder;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(7,131,184,1);
-moz-box-shadow: 0px 4px 0px 0px rgba(7,131,184,1);
box-shadow: 0px 4px 0px 0px rgba(7,131,184,1);
}

.visitsite:hover{
  background-color: #11b1f0;
  -webkit-transition: background-color 0.4s; /* Safari */
    transition: background-color 0.4s;
}

.footer{
  background: #747372;
  height: 40px;
  padding-top: 10px;
 padding-right: 30px;
 padding-left: 30px;
 padding-bottom:  65px;
}


</style>


<body>
  <nav>
    <div class="nav-wrapper navtrans">
       <a href="/" class="brand-logo logomenu"><img src="logo111.png" class="logomenu" ></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons blue">menu</i></a>
    <ul class="right hide-on-med-and-down allmenu">
      <li><a class="navhov oclass" href="/">Home</a></li>
        <li><a class="navhov oclass navhovactive" href="/whatido">What I do</a></li>
        <li><a class="navhov oclass" href="/mywork">My Work</a></li>
        <li><a class="navhov oclass" href="/aboutme">What i want for you</a></li>
        <li><a class="navhov oclass" href="/contactme">Contact me</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/mywork">My work</a></li>
        <li><a href="/whatido">What I do</a></li>
        <li><a href="/aboutme">About me</a></li>
        <li><a href="/contactme">Contact me</a></li>
      </ul>
    </div>
  </nav>
 <br>
  <div class="col s12 porttalk">
    <br>
    <br>
    <h1 class="left-align wstyle"> What I do</h1>
    <p class="left-align bossyfont">My job is to put companies, schools, peoples etc online and make sure the purpose for 
    which they built an online presence is fulfilled. Just as every man can give birth to a child, not every man can raise a legend. Everyone with knowledge in web scripting websites can build websites but  it takes a lot of wisdom and knowledge to make websites achieve their purpose.</p>
  </div>
<div class="workhead">
<h3 class="center-align"> Beautifully Crafted Websites </h3>
</div>
  <div class="row">
  <div class="col s12 m6 l6">
    <p class="right-align"><img src="webcrafting.jpg" class="responsive-img imgwork"></p>
  </div>
  <div class="col s12 m6 l6">
    <h5 style="font-weight: 700; color: #1aa8e8;"> WEBSITES </h5>
    <div style="max-width: 400px;">
    <p class="widinf"> 
    First and foremost, for everyone to succeed online, you need your personal website. Your website should be on point. We invest quality time and resources in building our websites using the best of materials we get our hands on. Our websites are seamless and work marvlously across all browsers and devices (phones, tablets and Pc's). Our websites meet world standards and rub shoulders with the idols.
    </p>
    <p class="left-align"><a class="visitsite" href="http://nikasemo.com" target="_blank">Request a Quote / Our Pricing</a></p>
  </div>
  </div>
  </div>

<div class="workhead">
<h3 class="center-align"> Email marketing </h3>
</div>

  <div class="row">
  <div class="col s12 m6 l6">
    <div style="max-width: 400px; position: relative; float: right;">
    <h5 style="font-weight: 700; color: #1aa8e8;"> LEVERAGING EMAIL </h5>
    <p class="widinf"> 
      The tried, tested and true means of marketing online is email marketing. Unfortunately it is grossly underestimated on our side of the world. Trust me. It works! have you wondered why some websites ask for your email when you visit them. In return, they promise to give you something (value). Are people this sweet?? This is a beautiful marketing tactic which companies deploy to increase sales by over 200% monthly. 
    </p>
    <p class="left-align"><a class="visitsite" href="http://nikasemo.com" target="_blank">Learn how to leverage email marketing!</a></p>
  </div>
  </div>
  <div class="col s12 m6 l6">
    <p class="left-align"><img src="email.jpg" class="responsive-img imgwork"></p>
  </div>
  </div>
<div class="workhead">
<h3 class="center-align"> Social media and SEO </h3>
</div>
  <div class="row">
  <div class="col s12 m6 l6">
    <p class="right-align"><img src="socialm.jpg" class="responsive-img imgwork"></p>
  </div>
  <div class="col s12 m6 l6">
   <h5 style="font-weight: 700; color: #1aa8e8;"> SOCIAL MEDIA AND SEO </h5>
    <div style="max-width: 400px;">
    <p class="widinf"> 
    I'm very sure you have tried social media marketing before. And i guess people said you were disturbing them. It works very well. But until our marketing goals are aligned to what social media was created for, we will always see very low returns on our efforts. Cotent for social media should be [fun and interesting] = Sharable. We have to adhere to these simple rules. getting your website to show up in search engines is also very neccessary for your it's succes
    </p>
    <p class="left-align"><a class="visitsite" href="http://nikasemo.com" target="_blank">Learn how to leverage social media!</a></p>
  </div>
  </div>
  </div>
  <br><br>
<section class="footer">
  <br>
  <span style="color:white; position: relative; float: left; font-size: 12px; font-weight: 700;"> Bernad Lomo | 0571490435 | bernardlomo2@gmail.com</span>
<span style="color:white; position: relative; float: right; top: -10px;">
<span><a href="#!"><img src="fblogo.png" class="responsive-img" height="35px" width="35px">
<span><a href="#!"><img src="tlogo.png" class="responsive-img" height="35px" width="35px">
  <span><a href="#!"><img src="ilogo.png" class="responsive-img" height="35px" width="35px">
</span>
<br>
</section>
 
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="materialize.min.js"></script>
     
      <script type="text/javascript">
         $(document).ready(function(){
      $('.slider').slider();
      $(".button-collapse").sideNav();
    });
      </script>
</body>
</html>